apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: test
  labels:
    app: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      # --- Harbor Entegrasyonu ---
      imagePullSecrets:
      - name: harbor-secret
      # ---------------------------
      containers:
      - name: web-app
        image: harbor.aisapi.com.tr/k8s-lab/busybox:latest
        command: ["sh", "-c", "echo 'Hello from Harbor!' && sleep 3600"]
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        livenessProbe:
          exec:
            command: ["ls", "/"]
          initialDelaySeconds: 5
          periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
